@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1E293B; /*navy*/
    --color-gradienttwo: #0F172A;
    --color-section-main: #F9FAFB; /*white*/
    --color-section-secondary: #F5F6F7; /*offwhite*/
    --color-overlay: #000000; /*black*/

    --font-manrope: 'Manrope', sans-serif;

    --radius-sm-btn: 5px;
    --radius-md-btn: 25px;
    --radius-img: 20px;
    --radius-section: 30px;

    --spacing-vert: 53px;
    --spacing-hori: 63px;
}

:root {
    --swiper-theme-color: #1E293B !important;
}