@layer components {
    @media (max-width: 535px) {
        .cta-flex {
            flex-direction: column;
            align-items: start !important;
            gap: 15px;
        }
        .cta-flex span {
            width: 100% !important;
        }
        
    }
}