@layer components {
    @media (max-width: 535px) {
        .cta-flex {
            flex-direction: column;
            text-align: center !important;
            align-items: center !important;
            gap: 20px;
        }
        .cta-flex span {
            width: 100% !important;
        }
        
    }
}