.hero {
    min-height: 100vh;
}

@media (max-width: 940px) {
    .hero {
        min-height: 80vh;
    }
}

@media (min-width: 693px) and (max-width: 724px) {
    .heading {
        width: 335px;
    }
}

@media (max-width: 680px) {
    .hero {
        min-height: 60vh;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 1.5rem;
        width: clamp(16.25rem, 45.6vw, 43.44rem);
    }
    .subheading {
        width: clamp(10rem, 70vw, 20rem);
        font-size:x-small;
    }
    .preheading {
        font-size: x-small;
    }
}

