@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

html,
body {
    overflow-x: hidden;
}

@theme {
    --color-primary: #1E293B; /*navy*/
    --color-gradienttwo: #0F172A;
    --color-section-main: #F9FAFB; /*white*/
    --color-section-secondary: #F5F6F7; /*offwhite*/
    --color-footer: #020617;
    --color-overlay: #000000; /*black*/

    --font-manrope: 'Manrope', sans-serif;

    --radius-sm-btn: 5px;
    --radius-md-btn: 25px;
    --radius-img: 20px;
    --radius-section: 30px;

    --spacing-vert: clamp(1.65rem,3.4vw,3.3rem);
    --spacing-hori: clamp(1.95rem,4.1vw,3.9rem);
}

:root {
    --swiper-theme-color: #1E293B !important;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
}